body{
  margin:0px;
  
}
.paint{
  
border: 3px solid black;
 width: 600px;
 margin: auto;
 margin-top:50px;
height: auto
}

.view input{
  border:none;
  border-bottom: 1px solid rgb(204, 201, 201);
  margin-top: 15px;
  margin-left: 10px;
  display:block
}

.paint .span{
  margin-left: 10px;
  margin-top: 20px;
  font-size: 8px;
  border: none;
  background-color: burlywood;
  
}
.paint .footer{
  margin-top:30px;
  background-color: rgb(135, 244, 248);
  height: 50px;
}
 .edit-row input{
  margin:5px;
  
} 

.edit-row input{
  display:inline-block
}
.items button{
  cursor: pointer;
  background-color: burlywood;
  margin: 5px;
  border: none;

}
.items span{
  margin: 10px;
} 

.right{
  margin-left:450px;
}
